.hero-container {
    /* position: relative; */
    width: 100%;
    height: 100svh;
    background:  #27272a ;
  }
  .hero {
    width: 100%;
    height: 100%;
    background: url("../assets/djlh.png") center center / cover no-repeat;
    background-attachment: fixed;
    /* background-position: center; */
    z-index: 10;
    display: flex;
    padding-top: 35vh;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
   
  }
  .hero::after{
    content: "";
    width: 100%;
    height: 100%;
    background: #000000c8;
    position: absolute;
    z-index: 1;
    top:0;
  }
  .hero p{
    font-size: 6rem;
    color: white;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
    animation: typing linear 1s;
  }
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  /* @keyframes blink {
    from { border-right-color: rgb(255, 255, 255); }
    to { border-right-color: transparent; }
  } */
  .background-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(39, 39, 42); 
    z-index: -1;
  }
  

  @media (max-width:950px) {
  .hero p{
    font-size: 4rem;
  }
  .hero h1{
    font-size: 2rem;
  }
  }

  @media (max-width:650px) {
    .hero p{
      font-size: 2.4rem;
    }
    .hero h1{
      font-size: 1.4rem;
    }
    }
    @media (max-width:500px) {
      .hero p{
        font-size: 2.2rem;
      }
      .hero h1{
        font-size: 1.1rem;
      }
      }