.loading {
background: whitesmoke;
animation: animate 2s linear infinite alternate;
  }
  @keyframes animate {
    from{
      background: whitesmoke;

    }
    to{
      background: rgba(172, 172, 172, 0.644);
      
    }
  }
