.teamConatiner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.teamSection{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;

}
.teamSection button{
  width: 100px;
}
.teamCard {
    overflow: hidden;
  }
  
  .teamHero {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all ease 0.2s;
  }
  
  .teamCard:hover .teamHero {
    transform: scale(1.2);
    left: -25%;
  }
  
  .teamInfo {
    transition: all ease 0.2s;
    height: 30%;
  }
  
  .teamCard:hover .teamInfo {
    height: 55%;
  }
  
  .teamInfoVisible {
    opacity: 1;
  }
   .teamInfoHidden {
    opacity: 0;
  }
  .teamCard:hover .teamInfoHidden {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    transition-delay: 0.2s;
  }
  
 
  @media (max-width:900px) {
    .teamConatiner{
      flex-direction: column-reverse;
    }
    .teamSection{
      width: 100%;
      flex-direction: row;
      gap:0px;
      margin: 10px;
    }
    .teamSection button{
      width: auto;
      padding: 8px;
      border: 1px solid black;
    }
  }