.gallery {
    display: flex;
    padding-left: 10vw;
    gap: clamp(30px,10vw,80px);
    padding-right: 10vw;
    padding-bottom: 15vh;
    overflow-x: scroll;
    justify-content: space-around;
}
.thanksCard{
    
    background-color: #2f4f4f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 190px;
    height:210px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}
.gallery::-webkit-scrollbar{
    height: 5px;
    background: transparent;
    }
.gallery::-webkit-scrollbar-thumb{
        height: 5px;
        background: rgba(245, 245, 245, 0.75);
}

.thanksCard .profile-pic {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid rgba(255, 255, 255, 0.153);
  }